*{
  font-family: Nyala;
    color:DarkRed;
      font-style: italic;
      text-decoration: underline;
          font-size: 10pt;
          background-repeat: no-repeat;
            background: url("../imagenes/convento san marcos.jpg") top left/50% 50% no-repeat,
                url("../imagenes/catedral leon.jpg")  top right/50% 50% no-repeat,
                url("../imagenes/casa botines.jpg")bottom/100% 100% no-repeat;
                /* background-size:50% 50%;
                background-position:top left, top right, bottom; */
                background-attachment:fixed;
}
@media(min-width:625px){
  *{
font-size: 11pt;
  }
}
@media(min-width:625px){
  *{
    font-size: 13pt;
  }
}
*{
  font-family: latha;
    color:DarkSlateGray;
          font-size: 12pt;
   text-transform: lowercase;
   text-indent=10%;
}
/*
h3 [title]{
  font-family: Arial;
  color: #948B0E;
}

*[class="historia"]{
  font-family: Century;
  color: #CBE68D;
  font-size: 9pt;
}
@media(min-width:450px){
  *[class="historia"]{
    font-family: Century;
    font-size: 10pt;
  }
}
@media(width>900px){
  *[class="historia"]{
    font-family: Century;
    font-size: 11pt;
  }
}

* [class*="cantabra"]{
  font-family: Corbel;
  color: #54B3B6;
  font-size: 10pt;
}
@media(min-width:450px){
  * [class*="cantabra"]{
    font-family: Corbel;
    font-size: 11pt;
  }
}
@media(width>900px){
  * [class*="cantabra"]{
    font-family: Corbel;
    font-size: 12pt;
  }
}

*[title^="Cantabra"]{
  font-family: Georgia;
  color: #751A7C;
  font-size: 11pt;
}
@media(min-width:450px){
  *[title^="Cantabra"]{
    font-family: Corbel;
    font-size: 12pt;
  }
}
@media(width>900px){
  *[title^="Cantabra"]{
    font-family: Corbel;
    font-size: 13pt;
  }
}

*[title$="loco"]{
font-family: Latha;
color: #273CDD;
font-size: 12pt;
}
@media(min-width:450px){
  *[title$="loco"]{
    font-family: Latha;
    font-size: 12pt;
  }
}
@media(width>900px){
  *[title$="loco"]{
    font-family: Latha;
    font-size: 12pt;
  }
}

[title="conquista"]{
font-family: Calibri;
color: #910D1F;
font-size: 8pt;
}
@media(min-width:450px){
  [title="conquista"]{
  font-family: Calibri;
    font-size: 10pt;
  }
}
@media(width>900px){
    [title="conquista"]{
    font-family: Calibri;
    font-size: 12pt;
  }
}
.reconquista:first-letter{
font-size: 3rem;
color:#CDB3DD;
}
.cantabria::first-line{
  color: #D5D21B;
  text-transform:capitalize;
} */
