.b1{
  background-color: #97107E;
  color: #90E0D9;
  background-clip: content-box;
  font-family: The Constellation of Heracles;
  font-size: 11pt;
  width: 800px;
  height: 400px;
  padding: 30px;
}
@font-face {
  font-family:"The Constellation of Heracles";
    src: url('../../tipo letra/The Constellation of Heracles.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}
.b1::first-letter{
  font-size: 2.5em;

}
.b2{
  background-color: #5FCB17;
color: #DD7474;
background-clip: content-box;
font-family: Caladea;
font-size: 13pt;
font-weight: bold;
text-decoration: underline;
font-style: italic;
width: 600px;
height: 300px;
padding: 40px;
}
.b2::first-line{
  text-transform: uppercase;


}
/*
h3 [title]{
  font-family: Arial;
  color: #948B0E;
}

*[class="historia"]{
  font-family: Century;
  color: #CBE68D;
  font-size: 9pt;
}
@media(min-width:450px){
  *[class="historia"]{
    font-family: Century;
    font-size: 10pt;
  }
}
@media(width>900px){
  *[class="historia"]{
    font-family: Century;
    font-size: 11pt;
  }
}

* [class*="cantabra"]{
  font-family: Corbel;
  color: #54B3B6;
  font-size: 10pt;
}
@media(min-width:450px){
  * [class*="cantabra"]{
    font-family: Corbel;
    font-size: 11pt;
  }
}
@media(width>900px){
  * [class*="cantabra"]{
    font-family: Corbel;
    font-size: 12pt;
  }
}

*[title^="Cantabra"]{
  font-family: Georgia;
  color: #751A7C;
  font-size: 11pt;
}
@media(min-width:450px){
  *[title^="Cantabra"]{
    font-family: Corbel;
    font-size: 12pt;
  }
}
@media(width>900px){
  *[title^="Cantabra"]{
    font-family: Corbel;
    font-size: 13pt;
  }
}

*[title$="loco"]{
font-family: Latha;
color: #273CDD;
font-size: 12pt;
}
@media(min-width:450px){
  *[title$="loco"]{
    font-family: Latha;
    font-size: 12pt;
  }
}
@media(width>900px){
  *[title$="loco"]{
    font-family: Latha;
    font-size: 12pt;
  }
}

[title="conquista"]{
font-family: Calibri;
color: #910D1F;
font-size: 8pt;
}
@media(min-width:450px){
  [title="conquista"]{
  font-family: Calibri;
    font-size: 10pt;
  }
}
@media(width>900px){
    [title="conquista"]{
    font-family: Calibri;
    font-size: 12pt;
  }
}
.reconquista:first-letter{
font-size: 3rem;
color:#CDB3DD;
}
.cantabria::first-line{
  color: #D5D21B;
  text-transform:capitalize;
} */
